name = "caspian-proxy"
main = "src/index.js"
compatibility_date = "2024-11-01"
compatibility_flags = ["nodejs_compat"]

[env.production]
name = "caspian-proxy"

# KV Namespace برای ذخیره اطلاعات کاربران
[[kv_namespaces]]
binding = "KV_STORE"
id = "ed78b757392f457bbb3705106f0bbd2b"
preview_id = "a3298ab238594ba281109d415b7b13bd"

# متغیرهای محیطی
[vars]
APP_NAME = "CaspianProxy"
APP_VERSION = "1.2.0"
DEFAULT_UUID = "71dfe287-564f-4cbc-9ca0-99c7417341d2"

# تنظیمات امنیتی
[placement]
mode = "smart"

# Routes برای دامنه سفارشی
[[routes]]
pattern = "caspiantafars.lat/*"
zone_name = "caspiantafars.lat"
